@use '../../../variable';

.chat-sidebar {
	display: flex;
	flex-direction: column;
	gap: 30px;
	box-sizing: border-box;
	background-color: variable.$secondary-color;
	min-width: 300px;
	max-width: 25%; // width of chat side-bar
	height: 750px;
	overflow-x: hidden;
	direction: rtl;

	// create/join chat buttons
	.add-chat {
		display: flex;
		position: sticky;
		top: 0px;
		flex-direction: column;

		h2 {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			border-bottom: 1.5px solid white;
			height: 80px;
			font-weight: 800;
			font-size: 30px;
			text-align: center;
		}
		h2:hover {
			cursor: pointer;
		}

		.add-chat-buttons {
			overflow-y: hidden;
		}

		button:hover {
			cursor: pointer;
			background-color: rgba(255, 255, 255, 0.1);
		}
		button {
			border: 0px;
			border-bottom: 1.5px solid white;
			border-radius: 0px;
			background-color: transparent;
			width: 100%;
			height: 80px;
			color: white;
		}
	}

	@media (max-width: 800px) {
		width: 100%;
		min-width: 0px;
		max-width: none;
	}
}

.chat-list-container {
	.chat-list {
		margin: 0;
		margin-top: auto;
		border-radius: 20px;
		background-color: variable.$primary-color;
		padding: 10px;
		height: (750px - 80px - 30px); // height of current chat - add chat - gap
		overflow-y: scroll;
		list-style: none;
		direction: ltr;

		// chats listed
		.chat:hover {
			cursor: pointer;
			background-color: rgba(255, 255, 255, 0.1);
		}
		.chat:last-child {
			border-bottom: none !important;
		}
		.chat {
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			padding: 10px;
			height: 80px;

			// name of chat
			h3 {
				margin: 0;
				overflow: hidden;
				font-weight: 400;
				text-overflow: ellipsis;
			}
			// latest chat message
			p {
				margin: 0;
				overflow: hidden;
				overflow-x: hidden;
				font-weight: 300;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	// scrollbar for chat
	.chat-list::-webkit-scrollbar {
		width: 2px;
	}
	.chat-list::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: rgb(255, 255, 255);
	}
}
