.chat-display {
	display: flex;
	gap: 20px;
	@media (max-width: 769px) {
		flex-direction: column;
	}

	// chat list -------------------------------------
	.chat-list-container {
		box-sizing: border-box;
		width: 30%;
		min-width: 200px;

		height: 500px;
		overflow-x: hidden;
		overflow-y: scroll;
		direction: rtl;

		@media (max-width: 769px) {
			width: 100%;
			min-width: 0px;
		}
		// list of chats
		.chat-list {
			margin: 0;
			padding: 0px;
			list-style: none;
			direction: ltr;

			// chats listed
			.chat:hover {
				cursor: pointer;
				background-color: rgba(255, 255, 255, 0.1);
			}
			.chat {
				border: 2px solid;
				border-radius: 0px 20px 20px 0px;
				padding: 10px;

				// name of chat
				h3 {
					margin: 0;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				// latest chat message
				p {
					margin: 0;
					overflow: hidden;
					overflow-x: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}

	// current chat -------------------------------------
	.current-chat {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		width: 100%;

		// chat title
		h1 {
			margin: 0;
			margin-bottom: 20px;
			font-size: 40px;
		}

		// chat itself
		.chatbox {
			display: flex;
			flex-direction: column-reverse; // for .chatbox to scroll to bottom by default
			gap: 10px;
			margin: 0;
			padding: 0;
			padding-right: 5px;
			width: 100%;
			height: 430px;
			overflow-y: scroll;
			list-style: none;

			.user-message {
				align-self: flex-end;
				margin-left: auto;
				text-align: right;
			}
			.message {
				display: flex;
				flex-direction: column;
				border: 2px solid white;
				border-radius: 10px;
				padding: 10px;
				width: fit-content;
				// normalizes message size
				min-width: 40%;
				max-width: 80%;

				// force messages take up majority view on mobile layout
				@media (max-width: 426px) {
					min-width: 80%;
				}

				img {
					align-self: center;
					width: 100%;
					max-width: 400px;
					height: auto;
				}
				h4 {
					margin: 0;
					font-size: 32px;
				}
				.message-date {
					margin-top: 20px;
					font-weight: 300;
					font-size: 12px;
				}
				p {
					margin: 0;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.message-form {
			padding: 20px 0px;
			width: 100%;
			form {
				display: flex;
				gap: 20px;
				label {
					align-self: center;
				}
				input {
					width: 100%;
				}
			}
		}
	}

	// scrollbar for chat list and current chat
	.chat-list-container::-webkit-scrollbar,
	.current-chat ol::-webkit-scrollbar {
		width: 2px;
	}
	.chat-list-container::-webkit-scrollbar-thumb,
	.current-chat ol::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: rgb(255, 255, 255);
	}
}
