@use '../../../variable';

.chat-display {
	display: flex;
	flex: 1;
	gap: 20px;
	padding: 0px 20px;

	// width to switch to mobile layout
	@media (max-width: 800px) {
		flex-direction: column;
	}

	// current chat -------------------------------------
	.current-chat {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		border-radius: 20px;
		background-color: variable.$primary-color;
		padding: 10px 20px;
		width: 75%;
		height: 750px;

		@media (max-width: 800px) {
			width: 100%;
		}

		// current chat header
		> div {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border-bottom: 1.5px solid rgba(255, 255, 255, 1);
			width: 100%;
			height: 80px;

			// chat title
			h1 {
				margin: 0;
				font-weight: 800;
				font-size: 40px;
				line-height: 80px;
				text-align: center;
			}
			// chevron
			img {
				filter: invert(1);
				width: 25px;
				height: 25px;
			}

			&:hover {
				cursor: pointer;
			}
		}

		// chat itself
		.chatbox {
			display: flex;
			flex-direction: column-reverse; // for .chatbox to scroll to bottom by default
			box-sizing: border-box;
			margin: 0;
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;
			padding: 15px;
			padding-top: 30px;
			width: 90%;
			height: 90%;
			overflow-y: scroll;
			list-style: none;

			// div holding all messages
			.messages-container {
				display: flex;
				flex-direction: column;
				gap: 40px;
			}
			.user-message {
				flex-direction: row-reverse;
				align-self: flex-end;
				margin-left: auto;
				text-align: right;

				.user-profile-picture {
					background-color: variable.$tertiary-color !important;
				}
				.message-info {
					flex-direction: row-reverse;
				}
				// user image and message
				.message-content {
					background-color: variable.$tertiary-color !important;
				}
				.user-profile-picture {
					margin-left: auto;
				}
			}
			.message {
				display: flex;
				gap: 15px;
				width: fit-content;
				// normalizes message size
				min-width: 40%;
				max-width: 80%;

				// force messages take up majority view on mobile layout
				@media (max-width: 426px) {
					min-width: 80%;
				}

				.user-profile-picture {
					border-radius: 75px;
					background-color: variable.$secondary-color;
					width: 75px;
					height: 75px;
				}

				.message-info-date-container {
					display: flex;
					flex-direction: column;
					gap: 10px;

					.message-info {
						display: flex;
						align-items: center;
						gap: 10px;

						// message username
						h4 {
							margin: 0;
							font-weight: 400;
							font-size: 26px;
						}
						.message-date {
							margin-bottom: -9px;
							font-weight: 300;
							font-size: 12px;
						}
					}
					// user image and message
					.message-content {
						display: flex;
						flex-direction: column;
						gap: 20px;
						border-radius: 10px;
						background-color: darken(variable.$secondary-color, 5%);
						padding: 20px;

						p {
							font-weight: 400;
							line-height: 25px;
						}
					}
				}

				div {
					.user-image {
						align-self: center;
						width: 100%;
						max-width: 400px;
						height: auto;
					}
					// message
					p {
						margin: 0;
						overflow: hidden;
						font-weight: 300;
						text-overflow: ellipsis;
					}
				}
			}
		}

		.message-form {
			display: flex;
			align-items: center;
			border-bottom-right-radius: 20px;
			border-bottom-left-radius: 20px;
			background-color: variable.$primary-color;
			width: 90%;
			min-height: 80px;

			form {
				display: flex;
				gap: 20px;
				width: 100%;
				// message input
				#message {
					align-self: center;
					outline: none;
					border: none;
					border-radius: 20px;
					background-color: transparent;
					background-color: white;
					padding: 10px;
					width: 100%;
					height: 30px;
					color: black;
				}

				// file input
				::-webkit-file-upload-button {
					display: none;
				}
				#image {
					margin: auto;
					width: 150px;
					text-align: center;
				}
				.image-input {
					display: flex;
					justify-content: center;
					align-items: center;
					border: 1.5px solid white;
					min-width: 60px;
					font-weight: 300;
					font-size: 12px;
					text-align: center;
				}
				.image-input:hover {
					cursor: pointer;
				}

				// send button
				button {
					border: 1.5px solid white;
					border-radius: 0px;
					background-color: transparent;
					width: 100px;
					color: white;
					font-weight: 300;
				}
				button:hover {
					cursor: pointer;
					background-color: rgba(255, 255, 255, 0.1);
				}
			}
		}

		.chat-info {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			overflow-y: auto;

			p {
				width: fit-content;
			}
			// leave chat button
			button {
				margin-top: auto;
				margin-left: auto;
			}
		}
	}

	// scrollbar for current chat
	.chatbox::-webkit-scrollbar {
		width: 2px;
	}
	.chatbox::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: rgb(255, 255, 255);
	}
}
